


.font{
    font-size: 40px;
    font-weight: 400;
    color:dimgray;
    margin: 5px;
    font-family: "Quicksand";
    font-weight: 600;

}

.font span{
    display: inline-block;
    margin: 0px 10px 0px 5px;
    font-size: 25px;
    font-weight: 400;
}

.font i{
    transform: scale(0.4);
    margin-left: 5px;
}


.chart{
    width: 80%;
    height: 40%;
    margin: auto;
}

.chart span{
    font-size: 20px;
    color:rgb(68, 68, 68);
}

.chart td{
    border: 1.5px solid black;
    font-size: 25px;
    text-align: center;
    padding:20px 50px 20px 50px;
    color:rgb(68, 68, 68);
}